section.hero-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 768px) {
  section.hero-containerss {
    align-items: flex-start;     
    justify-content: flex-start; 
  }
}
