/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #030411;
  --main-padding: 15px;
}

body {
    background-color: var(--primary-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
