<div class="hero-container">
  
  <!-- Desktop View -->
  <div class="hero-desktop">
    <h1 
      class="hero-title" 
      animate.enter="slide-in"
  [style.--animation-delay]="'1000ms'">
      Hi I'm Ali
    </h1>
    <div class="hero-desktop-content">
      <p 
        class="hero-subtitle-large" 
        animate.enter="slide-in"
  [style.--animation-delay]="'1200ms'">
        A Developer <br /> Dedicated to Crafting
      </p>
      
      <div animate.enter="slide-in"
  [style.--animation-delay]="'1500ms'">
        <!-- Passing a standard CSS class instead of Tailwind strings -->
        <app-flip-words class="flip-words-desktop"
          [words]="words">
        </app-flip-words>
      </div>

      <p 
        class="hero-subtitle-medium" 
        animate.enter="slide-in"
  [style.--animation-delay]="'1800ms'">
        Web Solutions
      </p>
    </div>
  </div>

  <!-- Mobile View -->
  <div class="hero-mobile">
    <p 
      class="hero-title" 
      animate.enter="slide-in"
  [style.--animation-delay]="'1000ms'">
      Hi, I'm Ali
    </p>
    <div>
      <p 
        class="hero-mobile-subtitle-large" 
        animate.enter="slide-in"
  [style.--animation-delay]="'1200ms'">
        Building
      </p>
      
      <div animate.enter="slide-in"
  [style.--animation-delay]="'1500ms'">
        <app-flip-words
          [words]="words" class=".flip-words-mobile">
        </app-flip-words>
      </div>

      <p 
        class="hero-mobile-subtitle-medium" 
        animate.enter="slide-in"
  [style.--animation-delay]="'1800ms'">
        Web Applications
      </p>
    </div>
  </div>
</div>